body {
	margin: 0;
}
header {
	display: grid;
	grid-template-columns: 1fr 160px;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 70px;
}
ol {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0;
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 40px;
	row-gap: 30px;
	column-gap: 20px;
}
footer {
	padding: 20px;
	padding-top: 10px;
}